<div style="position: absolute; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center">
  <md-card>
    <div>
      <md-input-container>
        <input mdInput [(ngModel)]="username" required placeholder="Username">
      </md-input-container>
    </div>
    <div>
      <md-input-container>
        <input mdInput type="password" [(ngModel)]="password" required placeholder="Password">
      </md-input-container>
    </div>
    <button style="width: 100%" md-raised-button color="primary" (click)="login()">Login</button>
  </md-card>
</div>
