md-card {
  max-width: 9.75em;
  max-height: 9.75em;
  min-width: 9.75em;
  min-height: 9.75em;
  margin-top: .75em;
  margin-left: .75em;
  text-align: center;
  display: flex;
}

md-checkbox {
  margin-right: 1em;
}
