md-card {
  max-width: 9em;
  max-height: 9em;
  min-width: 9em;
  min-height: 9em;
  margin-top: 1em;
  margin-left: 1em;
  text-align: center;
  display: flex;
}

md-checkbox {
  margin-right: 1em;
}
