<div style="position: relative; width: 100%; height: 100%;">

  <!-- top toolbar -->
  <md-toolbar color="primary" #toolbar>
    <button md-icon-button (click)="handleClickMenu()">
      <md-icon>menu</md-icon>
    </button>
    <span>Home</span>
    <button md-icon-button [style.visibility]="isSelectMode ? 'visible' : 'hidden'" (click)="handleClickUnselectAll()">
      <md-icon>clear</md-icon>
    </button>
  </md-toolbar>

  <!-- scrollable content area -->
  <div class="content-area"
       [ngStyle]="{ top: toolbar._elementRef.nativeElement.offsetHeight + 'px' }">

    <md-card class="category"
             (press)="handlePressCategory(category)"
             (tap)="handleTapCategory(category)"
             *ngFor="let category of categories"
             style="border-radius: 20px;">

      <div class="common" style="margin: 5px 5px 5px 5px; align-items: center;">
        <span style="font-size: 400%;"><b>{{ category.count }}</b></span>
      </div>

      <div class="common" style="margin: 10px 5px 5px 5px; align-items: flex-start;">
        <span style="font-size: 120%;"><b>{{ category.name }}</b></span>
      </div>

      <div class="selection-image-wrapper">
        <img *ngIf="category.selected"
             width="40em"
             height="40em"
             src="assets/images/selected.png" />
      </div>

    </md-card>
  </div>

</div>
