<md-toolbar color="primary">
  <button md-icon-button (click)="handleClickBack()">
    <md-icon>chevron_left</md-icon>
  </button>
  <span>Graph</span>
  <!-- just here for alignment -->
  <button md-icon-button style="visibility:hidden">
    <md-icon>clear</md-icon>
  </button>
</md-toolbar>

<div style="margin: 10px 10px 10px 10px;">
  <canvas #canvas></canvas>

  <br/>

  <div style="display: flex; align-items: center; justify-content: center;">
    <div>

      <div>
        <md-input-container style="width:5em">
          <input mdInput [(ngModel)]="duration" required placeholder="Duration" (change)="handleChangeValue()">
        </md-input-container>
      </div>

      <div>
        <md-select placeholder="Time Period" [(ngModel)]="selectedTimePeriod" (change)="handleChangeValue()">
          <md-option *ngFor="let timePeriod of timePeriods" [value]="timePeriod.value">
            {{ timePeriod.viewValue }}
          </md-option>
        </md-select>
      </div>

      <br/>

      <div>
        <md-select placeholder="Group By" [(ngModel)]="selectedGroupBy" (change)="handleChangeValue()">
          <md-option *ngFor="let timePeriod of timePeriods" [value]="timePeriod.value">
            {{ timePeriod.viewValue }}
          </md-option>
        </md-select>
      </div>

    </div>
  </div>

</div>
